@charset "UTF-8";
@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotate(0deg); }
  100% {
    transform: translate(-50%, 0) rotate(360deg); } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes rotateInMap {
  0% {
    transform: translate(-100px, -120px) scale(8);
    filter: blur(50px);
    opacity: 0; }
  100% {
    transform: translate(-50%, -120px) scale(1.1);
    opacity: .07;
    filter: blur(0); } }

@keyframes userFadeIn {
  0% {
    opacity: 0;
    transform: translate(-70%, 30px); }
  100% {
    opacity: 1;
    transform: translate(-70%, 0); } }

@keyframes networkFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes dbFadeIn {
  0% {
    opacity: 0;
    transform: translate(-10%, 0); }
  100% {
    opacity: 1;
    transform: translate(-50%, 0); } }

@keyframes fadeInLeft {
  0% {
    transform: translateX(20px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes fadeInRight {
  0% {
    transform: translateX(-20px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes fadeInUp {
  0% {
    transform: translate(-50%, -80%);
    opacity: 0; }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1; } }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

img {
  vertical-align: middle; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #3e396b; }

.heading-primary {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: lighter;
  line-height: 40px;
  letter-spacing: .07rem;
  max-width: 600px; }

.heading-secondary {
  font-size: 3.6rem;
  font-weight: 300;
  padding-bottom: 2rem; }
  .heading-secondary--white {
    color: #fff; }

.paragraph {
  font-size: 16px; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.utility-center {
  text-align: center !important; }

.utility-right {
  text-align: right !important; }

.utility-left {
  text-align: left !important; }

.utility-mb-sm {
  margin-bottom: 3rem !important; }

.utility-mb-lg {
  margin-bottom: 5rem !important; }

.utility-pt-sm {
  padding-top: 3rem !important; }

.utility-pb-sm {
  padding-bottom: 3rem !important; }

.utility-pb-lg {
  padding-bottom: 6rem !important; }

.color-white {
  color: #fff; }

.utility-mr-tiny {
  margin-right: 2.5rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 13px;
  letter-spacing: .1rem;
  position: relative;
  transition: all .3s; }

.btn:not(.btn--link):hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:not(.btn--link):hover::after {
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0; }

.btn:not(.btn--link)::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--link {
  background-color: transparent;
  border-radius: 0;
  padding: 1.5rem 2rem !important;
  color: #000; }
  .btn--link-white {
    color: #fff; }
  .btn--link-sm {
    font-size: 12px; }

.btn--primary {
  background-color: #0066ff;
  color: #fff;
  border: none;
  letter-spacing: .1rem !important; }
  .btn--primary::after {
    background-color: #0066ff; }

.btn--form {
  width: 100%;
  margin-top: 1em;
  background-color: #4dd0a6;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  border-radius: 3px; }

.btn--sm {
  padding: .9rem 2rem !important;
  font-size: 12px !important; }

.btn--tiny {
  padding: .7rem 1.5rem !important;
  font-size: 10px !important;
  letter-spacing: .1em !important; }

.feature-card {
  border-radius: 5px;
  text-align: left; }
  .feature-card__icon {
    font-size: 30px;
    padding-right: .2em;
    background-color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border-radius: 100px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
    padding: 0;
    color: #43c4e4;
    color: #af364e;
    display: block; }
  .feature-card__heading {
    font-size: calc(18px);
    line-height: 28px;
    font-weight: 600;
    padding-bottom: 1.5rem;
    text-transform: capitalize;
    letter-spacing: .02em; }
  .feature-card__paragraph {
    font-size: calc(15px);
    letter-spacing: .05em;
    padding-right: .5em 0; }
    .feature-card__paragraph:not(:last-child) {
      margin-bottom: 1em; }

.usage-box__icon {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
  margin-bottom: 2rem;
  border-radius: 10px; }
  .usage-box__icon--1 {
    background-color: #08abf6;
    box-shadow: 0 2px 10px rgba(6, 137, 197, 0.8); }
  .usage-box__icon--2 {
    background-color: #604def;
    box-shadow: 0 2px 10px rgba(54, 30, 235, 0.8); }
  .usage-box__icon--3 {
    background-color: #32c986;
    box-shadow: 0 2px 10px rgba(40, 160, 107, 0.8); }
  .usage-box__icon--4 {
    background-color: #6ddbaa;
    box-shadow: 0 2px 10px rgba(68, 208, 146, 0.5); }
  .usage-box__icon--5 {
    background-color: #51c4f9;
    box-shadow: 0 2px 10px rgba(32, 180, 248, 0.5); }
  .usage-box__icon--6 {
    background-color: #9f93f5;
    box-shadow: 0 2px 10px rgba(117, 100, 241, 0.5); }

.usage-box__heading {
  font-size: calc(18px);
  line-height: 28px;
  font-weight: 600;
  padding-bottom: 1.5rem;
  text-transform: capitalize;
  letter-spacing: .02em; }

.usage-box__paragraph {
  font-size: calc(15px);
  letter-spacing: .05em;
  padding: .5em 0; }

.usage-box__btn {
  display: inline-block;
  text-decoration: none;
  padding: .3rem 1.5rem;
  border-radius: 10rem;
  color: #333;
  margin-top: 10px;
  font-size: 10px;
  background-color: #eee;
  letter-spacing: .08em;
  word-spacing: .05em; }

.integration-box__heading {
  font-size: 20px;
  padding: 1em 0 0em 0;
  letter-spacing: .05em;
  font-weight: 600; }

.integration-box__paragraph {
  font-size: calc(15px);
  letter-spacing: .05em;
  padding: .5em 0; }

.dashboard-animation-box {
  position: relative;
  padding-top: 5rem; }
  .dashboard-animation-box__dashboard {
    position: relative;
    z-index: 10; }
  .dashboard-animation-box__bg {
    position: absolute;
    right: 0;
    right: 0;
    bottom: 50px; }

.testimonial-box {
  box-shadow: 0px 5px 17px 0px rgba(223, 223, 223, 0.52), inset 0px 5px 0px 0px rgba(239, 130, 255, 0.004);
  padding: 3rem;
  min-height: 320px;
  background-color: #fff; }
  .testimonial-box__shape {
    width: 10rem;
    height: 10rem;
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
  .testimonial-box__image {
    height: 100%;
    transform: translateX(-3rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; }
  .testimonial-box__name {
    font-size: 16px;
    padding-top: 20px; }
  .testimonial-box__profession {
    color: #333333;
    font-size: 11px;
    text-indent: 10px;
    font-weight: 500;
    letter-spacing: .1em; }
  .testimonial-box__paragraph {
    font-size: 13px;
    padding-top: 5px; }
  .testimonial-box--1 {
    border-bottom: 5px solid #ef82ff; }
  .testimonial-box--2 {
    border-bottom: 5px solid #1bdadc; }
  .testimonial-box--3 {
    border-bottom: 5px solid #2cc9f6; }
  .testimonial-box--4 {
    border-bottom: 5px solid #ffaa4e; }

.signup-animation {
  text-align: center; }
  .signup-animation__image {
    max-width: 320px;
    display: block;
    margin: 0 auto; }
  .signup-animation__button {
    display: block;
    margin-top: 1em; }
  .signup-animation__text {
    display: block;
    margin-top: 1em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: .1em; }
    .signup-animation__text b {
      font-weight: 700; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0); }
  .modal__overlay {
    background-color: rgba(29, 59, 113, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    cursor: pointer; }
  .modal__box {
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    max-width: 550px;
    padding: 4em;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2); }
  .modal__heading {
    font-size: 20px;
    padding-bottom: .5em;
    padding-top: .5em;
    text-align: center;
    font-weight: 600; }
  .modal__close {
    position: absolute;
    padding: 1.2em;
    color: #0066ff;
    right: 0;
    top: 0;
    z-index: 10;
    font-size: 18px;
    cursor: pointer; }
  .modal__link {
    color: #4dcfe0;
    font-weight: 700;
    text-decoration: none; }
  .modal--footer .modal__box {
    padding-bottom: 6em; }
  .modal__footer-element {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .5em 0;
    border-radius: 0 0 5px 5px;
    padding: 12px 0;
    border-top: 1px solid #D5E3F5;
    background-color: #EAF3FF;
    letter-spacing: .05em; }
    .modal__footer-element a {
      color: #4dd0a6; }

.form__top {
  text-align: center; }
  .form__top .img-logo {
    max-width: 100px; }
  .form__top h3 {
    font-size: 15px;
    padding-bottom: .5em;
    font-weight: 400; }

.form__row {
  width: 100%; }
  .form__row:not(:last-child) {
    margin-bottom: .7em; }

.form__element {
  width: 100%;
  padding: .15em 1em;
  height: 32px;
  border-radius: 3px;
  border: none;
  background: transparent;
  border: 1px solid #ececec;
  display: block;
  width: 100%;
  line-height: 35px;
  margin-top: 6px;
  color: #000;
  font-size: 13px;
  background-color: #fbfbfb; }

.sticky-nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 9000;
  -webkit-box-shadow: 0 2px 10px 0 rgba(62, 57, 107, 0.1);
  box-shadow: 0 2px 10px 0 rgba(62, 57, 107, 0.1);
  display: none;
  padding: .6rem 3rem; }
  .sticky-nav__logo img {
    max-width: 100px;
    padding-top: 1.3em; }
  .sticky-nav__nav-account {
    position: relative;
    top: .3em; }

.intro-animation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50vh; }
  .intro-animation__db {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 48.5%;
    transform: translate(-50%, 0);
    z-index: 10;
    opacity: 0;
    animation-name: dbFadeIn;
    animation-delay: .8s;
    animation-duration: .5s;
    animation-direction: forwards;
    animation-fill-mode: forwards; }
  .intro-animation__inner {
    position: relative;
    top: 3rem; }
  .intro-animation__db-icon {
    display: block;
    z-index: 10; }
  .intro-animation__fan-icon {
    display: block;
    position: absolute;
    top: 50px;
    left: 72%;
    transform-origin: 50% 50%;
    backface-visibility: hidden; }
    .intro-animation__fan-icon.animate {
      transition: all 250ms;
      transform: rotate(360deg); }
  .intro-animation__user {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-70%, 0);
    z-index: 10;
    animation-name: userFadeIn;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-direction: forwards;
    animation-fill-mode: backwards; }
    .intro-animation__user img {
      max-width: 350px; }

.animation-map-box {
  position: relative;
  z-index: 1;
  max-width: 965px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh; }
  .animation-map-box__image {
    position: absolute;
    left: 50%;
    right: 0;
    max-width: 1050px;
    animation: rotateInMap 1.1s forwards;
    width: 100%;
    margin-top: -30px; }
  .animation-map-box__network {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -150px; }

.network {
  position: absolute;
  left: 0;
  right: 0; }
  .network__icon {
    width: 100vw;
    position: relative;
    margin-left: -20vw; }
  .network__connection {
    position: absolute;
    opacity: 1;
    transition: all .3s; }
    .network__connection--1 {
      max-width: 20px;
      left: 21vw;
      top: 15em; }
    .network__connection--2 {
      left: 18vw;
      max-width: 15px;
      top: 140%; }
    .network__connection--3 {
      max-width: 12px;
      left: 19vw;
      top: 100%; }

.user-content {
  color: #141823;
  padding: 10px;
  position: absolute;
  right: 15px;
  width: 240px;
  top: 15px;
  bottom: 5px; }
  .user-content__background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative; }
  .user-content__masker {
    background: #fff;
    position: absolute; }
    .user-content__masker.header-to, .user-content__masker.header-bottom, .user-content__masker.subheader-bottom {
      top: 0;
      left: 40px;
      right: 0;
      height: 10px; }
    .user-content__masker.header-left, .user-content__masker.subheader-left, .user-content__masker.header-right, .user-content__masker.subheader-right {
      top: 10px;
      left: 40px;
      height: 8px;
      width: 10px; }
    .user-content__masker.header-bottom {
      top: 18px;
      height: 6px; }
    .user-content__masker.subheader-left, .user-content__masker.subheader-right {
      top: 24px;
      height: 6px; }
    .user-content__masker.header-right, .user-content__masker.subheader-right {
      width: auto;
      left: 300px;
      right: 0; }
    .user-content__masker.subheader-right {
      left: 230px; }
    .user-content__masker.subheader-bottom {
      top: 30px;
      height: 10px; }
    .user-content__masker.content-top, .user-content__masker.content-second-line, .user-content__masker.content-third-line, .user-content__masker.content-second-end, .user-content__masker.content-third-end, .user-content__masker.content-first-end {
      top: 40px;
      left: 0;
      right: 0;
      height: 6px; }
    .user-content__masker.content-top {
      height: 20px; }
    .user-content__masker.content-first-end, .user-content__masker.content-second-end, .user-content__masker.content-third-end {
      width: auto;
      left: 380px;
      right: 0;
      top: 60px;
      height: 8px; }
    .user-content__masker.content-second-line {
      top: 68px; }
    .user-content__masker.content-second-end {
      left: 420px;
      top: 74px; }
    .user-content__masker.content-third-line {
      top: 82px; }
    .user-content__masker.content-third-end {
      left: 300px;
      top: 88px; }

.pricing-box {
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  padding: 3rem;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05); }
  .pricing-box__type {
    text-transform: uppercase;
    font-weight: 700;
    color: #000;
    padding-bottom: .5em;
    font-size: 14px;
    text-align: left; }
  .pricing-box__price {
    font-weight: 700;
    font-size: 4.3rem;
    height: 100px;
    margin-bottom: 1.5rem;
    text-align: left;
    transition: all .3s;
    /* transform: translateX(-100px); */
    }
    .pricing-box__price small {
      display: block;
      position: relative;
      font-size: 1.25rem;
      font-weight: 500;
      top: -10px;
      -webkit-text-fill-color: #3db8db;
      padding-top: .2em;
      letter-spacing: .05em; }
  .pricing-box__description {
    height: 160px; }
    .pricing-box__description b {
      font-size: 15px;
      display: inline-block;
      line-height: 20px;
      font-weight: 700;
      text-transform: uppercase; }
      .pricing-box__description b.dot {
        font-size: 30px;
        position: relative;
        top: 7px;
        color: #f8849a; }
    .pricing-box__description ul {
      list-style: none; }
      .pricing-box__description ul li {
        font-size: 14px;
        padding: 0 0 1em 0;
        text-align: left; }
  .pricing-box__button {
    font-family: "Quicksand",sans-serif;
    font-size: 14px;
    border: none;
    background-color: #3db8db;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
    letter-spacing: .05em;
    margin: .5em auto 0 auto;
    cursor: pointer;
    width: 100%; }
    .pricing-box__button::after {
      background-color: #3db8db; }
  .pricing-box--2 {
    position: relative;
    text-align: left;
    box-shadow: 0 35px 40px rgba(0, 0, 0, 0.15); }
    .pricing-box--2::after {
      content: "";
      display: table;
      clear: both; }
    .pricing-box--2::before {
      content: "Popular";
      font-size: 10px;
      letter-spacing: .05em;
      display: inline-block;
      background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
      color: #fff;
      padding: .5em 1em;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .1em;
      margin-bottom: 1.3em;
      float: right;
      margin-right: -40px;
      margin-top: -3px; }
  .pricing-box--3 {
    position: relative;
    text-align: left;
    box-shadow: 0 35px 40px rgba(0, 0, 0, 0.15); }
    .pricing-box--3::after {
      content: "";
      display: table;
      clear: both; }
    .pricing-box--3::before {
      content: "Best Offer";
      font-size: 10px;
      letter-spacing: .05em;
      display: inline-block;
      color: #fff;
      background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
      padding: .5em 1em;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: .1em;
      margin-bottom: 1.3em;
      float: right;
      margin-right: -40px;
      margin-top: -3px; }
  .pricing-box--4 .pricing-box__price {
    font-size: 3rem;
    position: relative;
    top: .5em; }
  .pricing-box--4 .pricing-box__description ul li {
    display: block;
    padding: 1em 0 1em 0; }
    .pricing-box--4 .pricing-box__description ul li:not(:last-child) {
      border-bottom: 1px solid #eeeeee; }

.accordion .toggle-accordion {
  font-size: 1.5em;
  border-bottom: 1px solid #f3f3f3;
  padding: 0 1em;
  font-weight: 500;
  background: #fafafa;
  line-height: 40px;
  cursor: pointer;
  box-shadow: inset 0 -1px #fff, 0 0px 5px rgba(0, 0, 0, 0.05); }
  .accordion .toggle-accordion::after {
    content: "";
    display: table;
    clear: both; }
  .accordion .toggle-accordion:first-child {
    border-radius: 5px 5px 0 0; }
  .accordion .toggle-accordion:last-child {
    border-radius: 5px 5px 0 0; }

.accordion__item ul {
  padding-left: 2em;
  list-style-position: inside; }
  .accordion__item ul li {
    font-size: 1.4em;
    font-weight: 700; }
    .accordion__item ul li b {
      color: #0066ff; }

.accordion__item p {
  font-size: 1.5em;
  margin-bottom: 1em; }

.accordion__item .icon {
  cursor: pointer;
  display: inline-block;
  color: #0066ff;
  text-align: center;
  font-size: 16px;
  float: right;
  transition: all 250ms ease-in-out;
  position: relative;
  top: 12px; }
  .accordion__item .icon.opened {
    transform: rotate(90deg);
    color: #000; }

.accordion__item-inner {
  padding: 2em;
  display: none; }

.row {
  max-width: 1100px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 60px; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class*="col-"] {
    float: left; }
    .row [class*="col-"]:not(:last-child) {
      margin-right: 60px; }
    .row [class*="col-"].gutter-small:not(:last-child) {
      margin-right: 30px; }
  .row .col-1-of-2 {
    width: calc((100% - 60px) / 2); }
    .row .col-1-of-2.gutter-small {
      width: calc((100% -  30px) / 2); }
  .row .col-1-of-3 {
    width: calc((100%  - 2 * 60px) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 60px) / 3) + 60px); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 60px) / 4); }
    .row .col-1-of-4.gutter-small {
      width: calc((100% - 3 * 30px) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 60px) / 4) + 60px); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 60px) / 4) + 2 * 60px); }
  .row .col-1-of-6 {
    width: calc((100% - 5 * 60px) / 6); }
    .row .col-1-of-6.gutter-small {
      width: calc((100% - 5 * 30px) / 6); }

.header {
  height: 100vh;
  background-image: -moz-radial-gradient(50% 50%, circle closest-side, #39588e 0%, #1d3b71 100%);
  background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #39588e 0%, #1d3b71 100%);
  background-image: -ms-radial-gradient(50% 50%, circle closest-side, #39588e 0%, #1d3b71 100%);
  position: relative;
  display: flex; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 10rem;
    animation: fadeInRight 1s;
    animation-delay: 3.5s;
    animation-fill-mode: backwards; }
  .header__text-box {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: fadeInUp 1s;
    animation-delay: 3.5s;
    animation-fill-mode: backwards; }
  .header__nav-account {
    position: absolute;
    top: 4rem;
    right: 10rem;
    animation: fadeInLeft 1s;
    backface-visibility: hidden;
    animation-delay: 3.5s;
    animation-fill-mode: backwards; }
    .header__nav-account a.btn--primary span {
      position: relative;
      top: 2px;
      margin-left: 5px;
      font-size: 12px; }
    .header__nav-account a {
      font-size: 11px !important;
      font-weight: 300; }
  .header--page {
    background-image: none;
    height: auto;
    position: fixed; }
  .header--page .header__nav-account,
  .header--page .header__logo-box {
    animation: none; }
  .header--page .header__nav-account a.btn--link {
    color: #000;
    font-weight: 700; }
  .header nav {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto; }
    .header nav .nav {
      display: flex;
      list-style: none;
      padding-right: 0;
      align-items: center; }
      .header nav .nav__links {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        text-align: center; }
        .header nav .nav__links-item {
          text-decoration: none;
          font-size: 14px;
          padding: 1em;
          font-family: "Quicksand", sans-serif;
          transition: all .2s;
          text-transform: capitalize;
          display: inline-block;
          position: relative; }
          .header nav .nav__links-item a {
            text-decoration: none;
            color: #000; }
            .header nav .nav__links-item a:hover {
              color: #0066ff; }
          .header nav .nav__links-item i.fas {
            padding-left: 8px;
            position: relative;
            top: -1px; }
          .header nav .nav__links-item ul {
            position: absolute;
            z-index: 100;
            list-style: none;
            background-color: #fff;
            text-align: center;
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
            border-radius: 0 0 5px 5px;
            top: 40px;
            left: 0;
            max-width: 300px;
            display: none;
            padding: 1em 0; }
            .header nav .nav__links-item ul li a {
              font-size: 14px;
              padding: .5em 2em;
              display: block;
              text-align: center;
              white-space: nowrap;
              text-transform: capitalize;
              font-weight: 400; }
          .header nav .nav__links-item:hover ul {
            display: block; }

.footer {
  padding: 7rem 0;
  color: #fff;
  background-color: #1d3b71; }
  .footer__heading {
    font-size: 14px;
    padding-bottom: .8em;
    letter-spacing: .07em; }
  .footer__list {
    list-style: none; }
    .footer__list li a {
      text-decoration: none;
      color: #fff;
      font-size: 12px;
      letter-spacing: .05em;
      display: block;
      padding: .2em 0; }
    .footer__list li i {
      width: 20px; }
  .footer .footer-bottom small {
    font-size: 11px;
    letter-spacing: .05em; }
  .footer .footer-bottom nav a {
    text-decoration: none;
    color: #fff;
    letter-spacing: .07em;
    display: inline-block;
    padding-left: 10px;
    line-height: 10px; }
    .footer .footer-bottom nav a:not(:last-child) {
      padding-right: 10px;
      border-right: 1px solid #526c9a; }

.section-about {
  padding: 12rem 0;
  position: relative;
  overflow: hidden; }
  .section-about .map-bg {
    margin-top: -10em; }

.section-features {
  background-color: #f4f7fc;
  padding: 12rem 0; }

.section-usage {
  padding: 12rem 0; }

.section-integration {
  padding: 12rem 0;
  background-color: #1d3b71; }
  .section-integration .integration-bottom-text {
    font-size: 14px;
    padding-left: 10px;
    letter-spacing: .1em;
    font-style: italic;
    padding-top: .5em; }
  .section-integration .integration-bottom-image {
    position: relative;
    top: -3px; }

.section-dashboard {
  padding: 12rem 0 0 0;
  background-image: url(../img/dashboard_bg.jpg);
  background-repeat: no-repeat;
  background-position: center  91%; }

.section-testimonials {
  padding: 12rem 0;
  background-color: #fff;
  position: relative;
  z-index: 10;
  margin-top: -80px;
  background-image: -moz-linear-gradient(20deg, #f7f7f7 0%, white 100%);
  background-image: -webkit-linear-gradient(20deg, #f7f7f7 0%, white 100%);
  background-image: -ms-linear-gradient(20deg, #f7f7f7 0%, white 100%);
  background: #f4f7fc; }

.section-signup {
  padding: 12rem 0; }

.section-pricing-plans {
  padding: 12em 0 4em 0;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  background-blend-mode: soft-light,screen; }
  .section-pricing-plans .row {
    margin: 0 auto 30px auto; }
  .section-pricing-plans .switch-widget {
    text-align: center;
    font-size: 18px; }
    .section-pricing-plans .switch-widget__wrapper {
      display: inline-flex;
      margin-right: 10px;
      transition: all .3s; }
    .section-pricing-plans .switch-widget__button {
      background: none;
      border: none;
      font-size: 14px;
      font-family: "Quicksand", sans-serif;
      padding: .4em .8em;
      margin-bottom: .5em;
      font-weight: 400;
      cursor: pointer;
      color: #3db8db;
      letter-spacing: .05em; }
      .section-pricing-plans .switch-widget__button i.fas {
        font-size: 12px; }
      .section-pricing-plans .switch-widget__button:active, .section-pricing-plans .switch-widget__button:focus {
        outline: none; }
      .section-pricing-plans .switch-widget__button.active {
        background-color: #3db8db;
        border-right: 1px solid #3db8db;
        color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 3px; }
    .section-pricing-plans .switch-widget__text {
      font-size: 11px;
      color: #565656;
      font-weight: 400;
      font-family: "Quicksand", sans-serif;
      font-family: "Raleway", sans-serif;
      display: block;
      transition: all .3s ease-in-out;
      letter-spacing: .05em;
      height: 20px; }
      .section-pricing-plans .switch-widget__text b {
        font-weight: 900;
        font-size: 12px; }

.section-pricing-main {
  padding: 6em 0; }
  .section-pricing-main .subscription-features {
    background-color: #fbfbfb;
    padding: 2em 0;
    border-radius: 5px;
    border: 1px solid #f7f7f7; }
    .section-pricing-main .subscription-features::after {
      content: "";
      display: table;
      clear: both; }
    .section-pricing-main .subscription-features > * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .section-pricing-main .subscription-features__heading {
      font-size: 2.8em;
      text-align: center;
      padding-bottom: .4em;
      font-weight: 300;
      background: -webkit-linear-gradient(30deg, #7f64b5, #3db8db);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .section-pricing-main .subscription-features__list {
      list-style: none; }
    .section-pricing-main .subscription-features__element {
      width: 16.66666666666667%;
      float: left;
      padding: 1em 1.2em;
      text-align: center; }
      .section-pricing-main .subscription-features__element p {
        font-size: 1.5em;
        background: -webkit-linear-gradient(30deg, #7f64b5, #3db8db);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
    .section-pricing-main .subscription-features__icon {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
      margin: 0 auto .8em auto;
      background-color: #fff; }
      .section-pricing-main .subscription-features__icon i {
        font-size: 2.5em;
        display: block;
        line-height: 80px;
        background: -webkit-linear-gradient(30deg, #7f64b5, #3db8db);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
  .section-pricing-main .subscription-description h4 {
    font-size: 1.6em;
    padding-bottom: .5em;
    font-weight: 600;
    text-decoration: underline; }
  .section-pricing-main .subscription-description p {
    padding-bottom: 1em;
    font-size: 1.4em; }
  .section-pricing-main .pricing-col {
    margin: 0 auto; }
    .section-pricing-main .pricing-col > * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .section-pricing-main .pricing-col::after {
      content: "";
      display: table;
      clear: both; }
    .section-pricing-main .pricing-col__element {
      width: 30.66666666666667%;
      float: left;
      padding: 1.5em 2em;
      text-align: center;
      border-radius: 3px;
      background-color: #eee;
      margin-top: 2em;
      color: #fff;
      position: relative; }
      .section-pricing-main .pricing-col__element:not(:last-child) {
        margin-right: 4%; }
      .section-pricing-main .pricing-col__element::after {
        content: "";
        display: table;
        clear: both; }
      .section-pricing-main .pricing-col__element-heading {
        text-decoration: none !important;
        text-transform: uppercase;
        font-weight: 300 !important;
        padding-bottom: 0 !important;
        float: left;
        font-size: 1.5em !important;
        line-height: 35px !important; }
      .section-pricing-main .pricing-col__element-pricе {
        font-size: 3.2em;
        font-weight: 700;
        position: absolute;
        right: .7em;
        top: 5px; }
      .section-pricing-main .pricing-col__element--1 {
        background-color: #c1dfc4; }
      .section-pricing-main .pricing-col__element--2 {
        background-color: #f78ca0; }
      .section-pricing-main .pricing-col__element--3 {
        background-color: #4481eb; }
  .section-pricing-main .subscription-faq {
    padding-top: 2em; }
    .section-pricing-main .subscription-faq h3 {
      font-size: 3em; }

.page-contact {
  padding-top: 10em; }
  .page-contact main {
    padding-bottom: 8em; }
  .page-contact .contact-intro {
    text-align: center; }
    .page-contact .contact-intro h2 {
      font-size: 36px; }
    .page-contact .contact-intro h4 {
      font-size: 22px;
      font-weight: 300;
      padding-bottom: 1em; }
    .page-contact .contact-intro p {
      font-size: calc(16px - 1px);
      max-width: 800px;
      margin: 0 auto .8em auto; }
    .page-contact .contact-intro b {
      font-size: calc(16px + 1px);
      padding: 0 4px 0 4px; }
      .page-contact .contact-intro b i {
        font-size: 18px;
        padding-left: 5px;
        position: relative;
        top: 3px; }
    .page-contact .contact-intro a {
      font-size: calc(16px + 1px);
      color: #0066ff;
      font-weight: 700;
      text-decoration: none;
      padding-left: 3px; }
  .page-contact .contact-form .row {
    margin-bottom: 1em; }
    .page-contact .contact-form .row .col-1-of-2 {
      width: calc((100% - 20px) / 2); }
    .page-contact .contact-form .row [class*="col-"]:not(:last-child) {
      margin-right: 20px; }
    .page-contact .contact-form .row.top label, .page-contact .contact-form .row.bottom label {
      display: block; }
  .page-contact .contact-form form {
    max-width: 500px;
    margin: 2em auto 0 auto;
    border-radius: 3px;
    font-size: calc(16px - 2px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    padding: 3em; }
    .page-contact .contact-form form > div {
      margin-bottom: .5em; }
    .page-contact .contact-form form label {
      display: block;
      margin-bottom: .2em;
      font-weight: 700;
      font-size: calc(16px - 3px); }
      .page-contact .contact-form form label i {
        font-size: 9px;
        color: orange;
        position: relative;
        top: -4px;
        left: 1px; }
    .page-contact .contact-form form input:not([type="submit"]),
    .page-contact .contact-form form select,
    .page-contact .contact-form form textarea {
      border: none;
      border: 1px solid #dbe2f1;
      padding: .6em .5em;
      width: 100%;
      background-color: #fafafa;
      box-shadow: inset 0 -10px 10px rgba(89, 140, 166, 0.03);
      border-radius: 2px; }
    .page-contact .contact-form form input[type="submit"] {
      width: 100%;
      font-family: "Quicksand";
      font-size: calc(16px + 2px);
      cursor: pointer; }
  .page-contact .contact-location {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 6em; }
    .page-contact .contact-location__text h3 {
      font-size: 30px;
      font-weight: 300;
      padding-bottom: .5em; }
    .page-contact .contact-location__text .col-location {
      font-size: calc(16px - 3px);
      padding: 2em 2em 2em 2em;
      background: rgba(0, 102, 255, 0.04);
      border-radius: 5px;
      transition: transform 250ms ease-in-out;
      outline-offset: -8px;
      cursor: pointer; }
      .page-contact .contact-location__text .col-location:hover, .page-contact .contact-location__text .col-location.active {
        box-shadow: 0 20px 20px rgba(0, 102, 255, 0.15);
        transform: translate(0px, -3px); }
      .page-contact .contact-location__text .col-location h4 {
        font-size: calc(16px - 1px);
        color: #0066ff; }
        .page-contact .contact-location__text .col-location h4 i {
          padding-right: .6em;
          display: inline-block;
          color: #0066ff; }
      .page-contact .contact-location__text .col-location p {
        height: 80px; }
    .page-contact .contact-location__text .row .col-1-of-2 {
      width: 48%; }
      .page-contact .contact-location__text .row .col-1-of-2:not(:last-child) {
        margin-right: 4%; }
    .page-contact .contact-location__map #map {
      height: 400px;
      width: 100%;
      margin-top: 3em;
      border-radius: 5px; }
      .page-contact .contact-location__map #map a[href^="http://maps.google.com/maps"] {
        display: none !important; }
      .page-contact .contact-location__map #map a[href^="https://maps.google.com/maps"] {
        display: none !important; }
      .page-contact .contact-location__map #map .gmnoprint a,
      .page-contact .contact-location__map #map .gmnoprint span,
      .page-contact .contact-location__map #map .gm-style-cc {
        display: none; }
