@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin textGradient($deg, $color1, $color2) {
    background: -webkit-linear-gradient($deg, $color1, $color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}