// COLORS
$color-primary: #1d3b71;
$color-secondary: #0066ff;
$color-tertiary: #39588e;

$color-text : #3e396b;

$color-white: #fff;
$color-black: #000;
$color-button-pricing: #3db8db;

// FONT
$default-font-size: 16px;
$font-primary:  'Raleway', sans-serif;
$font-secondary: "Bitter", sans-serif;

// GRID 
$grid-width: 1100px;
$gutter-vertical: 80px;
$gutter-vertical-small: 60px;
$gutter-horizontal: 60px;
$gutter-horizontal-small: 30px;

// z-index
$zIndex_Modal: -1;