.footer {
    padding: 7rem 0;
    color: $color-white;
    background-color: $color-primary;
    &__heading {
        font-size: 14px;
        padding-bottom: .8em;
        letter-spacing: .07em;
    }
    &__list {
        list-style: none;
        li {
            a {
                text-decoration: none;
                color: $color-white;
                font-size: 12px;
                letter-spacing: .05em;
                display: block;
                padding: .2em 0;
            }
            i {
                width: 20px;
            }
        }
    }
    .footer-bottom {
        small {
            font-size: 11px;
            letter-spacing: .05em;
        }
        nav {
            a {
                text-decoration: none;
                color: #fff;
                letter-spacing: .07em;
                display: inline-block;
                padding-left: 10px;
                line-height: 10px;
                &:not(:last-child) {
                    padding-right: 10px;
                    border-right: 1px solid #526c9a;
                }
                &::after {

                }
            }
        }
    }
}