.header {
    height: 100vh;
    background-image: -moz-radial-gradient( 50% 50%, circle closest-side, $color-tertiary 0%, $color-primary 100%);
    background-image: -webkit-radial-gradient( 50% 50%, circle closest-side, $color-tertiary 0%, $color-primary 100%);
    background-image: -ms-radial-gradient( 50% 50%, circle closest-side, $color-tertiary 0%, $color-primary 100%);
    // overflow: hidden;
    position: relative;
    display: flex;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 10rem;
        animation: fadeInRight 1s;
        animation-delay: 3.5s;
        animation-fill-mode: backwards;
    }
    &__text-box {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        animation: fadeInUp 1s;
        animation-delay: 3.5s;
        animation-fill-mode: backwards;
    }
    &__nav-account {
        position: absolute;
        top: 4rem;
        right: 10rem;
        animation: fadeInLeft 1s;
        backface-visibility: hidden;
        animation-delay: 3.5s;
        animation-fill-mode: backwards;

        a.btn--primary span{
            position: relative;
            top:2px;
            margin-left: 5px;
            font-size: 12px;
        }

        a {
            font-size: 11px !important;
            font-weight: 300;
        }
    }

    // not index page
    &--page {
        background-image: none;
        height: auto;
        position: fixed;
    }

    &--page &__nav-account,
    &--page &__logo-box {
        animation: none;
    }

    &--page &__nav-account {
        a.btn--link {
            color: #000;
            font-weight: 700;
        }
    }

    nav {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        .nav {
            display: flex;
            list-style: none;
            padding-right: 0;
            align-items: center;
    
            &__links {
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                text-align: center;
    
                &-item {
                    text-decoration: none;
                    font-size: 14px;
                    padding: 1em; 
                    font-family: "Quicksand", sans-serif;
                    transition: all .2s;
                    text-transform: capitalize;
                    display: inline-block;
                    position: relative;
                    
                    a {
                        text-decoration: none;
                        color: #000;
                        // font-weight: 700;

                        &:hover {
                            color: #0066ff;
                        }
                    }

                    i.fas {
                        padding-left: 8px;
                        position: relative;
                        top:-1px;
                    }


                    ul {
                        position: absolute;
                        z-index: 100;
                        list-style: none;
                        background-color: #fff;
                        text-align: center;
                        box-shadow: 0 3px 10px rgba(0,0,0,.1);
                        border-radius: 0 0 5px 5px;
                        top:40px;
                        left: 0;
                        max-width: 300px;
                        display: none;
                        padding: 1em 0;

                        li {
                            a {
                                font-size: 14px;
                                padding: .5em 2em;
                                display: block;
                                text-align: center;
                                white-space: nowrap;
                                text-transform: capitalize;
                                font-weight: 400;
                            }
                        }
                    }

                    &:hover {
                        ul {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

// nav {
//     width: 80%;
//     padding: 40px 20px;
//     border-radius: 5px;
//     .nav-links {
//         margin-left: auto;
//         margin-right: auto

//         &__item { 
//             display: inline-block;

//             a {
//                 text-decoration: none;
//                 color: #000;
//                 padding-right: 1em; 
//                 font-size: 13px;
//                 font-family: "Quicksand",sans-serif;
//                 font-weight: 700;
//             }
//         }
//     }
// }

