.accordion {

    .toggle-accordion {
        font-size: 1.5em;
        border-bottom: 1px solid #f3f3f3;
        padding: 0 1em;
        font-weight: 500;
        background: #fafafa;
        @include clearfix;
        line-height: 40px;
        cursor: pointer; 
        box-shadow: inset 0 -1px #fff,0 0px 5px rgba(0,0,0,.05);

        &:first-child {
            border-radius: 5px 5px 0 0;
        }
        &:last-child {
            border-radius: 5px 5px 0 0;
        }
    }
    &__item {
        ul {
            padding-left: 2em;
            list-style-position: inside;
            li {
                font-size: 1.4em;
                font-weight: 700;
    
                b {
                    color: #0066ff;
                }
            }
    
        }
        
        p {
            font-size: 1.5em;
            margin-bottom: 1em;
        }
        
        .icon {
            cursor: pointer;
            display: inline-block;
            color: #0066ff;
            text-align: center;
            font-size: 16px;
            float: right;
            transition: all 250ms ease-in-out;
            position: relative;
            top:12px;

            &.opened {
                transform: rotate(90deg);
                color: #000;
            }
        }
    }
    &__item-inner {
        padding: 2em; 
        display: none;
    }
}