.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: 13px;
        letter-spacing: .1rem;
        position: relative;
        transition: all .3s;    
    }

    &:not(.btn--link):hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.5);
            opacity: 0;
        }
    }

    &:not(.btn--link)::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &--link {
        background-color: transparent;
        border-radius: 0;
        padding: 1.5rem 2rem !important;
        color: $color-black;

        &-white {
            color: $color-white;
        }

        &-sm {
            font-size: 12px;
        }
    }

    &--primary {
        background-color: $color-secondary;
        color: $color-white;
        border: none;
        letter-spacing: .1rem !important;
        
        &::after {
            background-color: $color-secondary;
        }
    }

    &--form {
        width: 100%;
        margin-top: 1em;
        background-color: #4dd0a6;
        cursor: pointer;
        font-family: "Raleway", sans-serif;
        border-radius: 3px;
    }

    &--sm {
        padding: .9rem 2rem !important;
        font-size: 12px !important; 
    }

    &--tiny {
        padding: .7rem 1.5rem !important;
        font-size: 10px !important; 
        letter-spacing: .1em !important;
    }

}