.feature-card {
    border-radius: 5px;
    text-align: left;

    &__icon {
        font-size: 30px;
        padding-right: .2em;
        background-color: #fff;
        width: 80px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        border-radius: 100px;
        box-shadow: 0 3px 10px rgba(0,0,0,.05);
        padding:0;
        color: #43c4e4;
        color: #af364e;
        display: block;
    }
    
    &__heading {
        font-size: calc(#{$default-font-size + 2});
        line-height: 28px;
        font-weight: 600;
        padding-bottom: 1.5rem;
        text-transform: capitalize;
        letter-spacing: .02em;
    }

    &__paragraph {
        font-size: calc(#{$default-font-size - 1});
        letter-spacing: .05em;
        padding-right: .5em 0;
        &:not(:last-child) {
            margin-bottom: 1em;
        }
    }

    &--1 {}
    &--2 {}
    &--3 {}
    &--4 {}
}