.dashboard-animation-box {
    position: relative;
    padding-top: 5rem;

    &__dashboard {
          position: relative;
          z-index: 10;
    }

    &__bg {
        position: absolute;
        right:0;
        right:0;
        bottom:50px;
    }
}