.form {
    &__top {
        text-align: center;

        .img-logo {
            max-width: 100px;
        }

        h3 {
            font-size: 15px;
            padding-bottom: .5em;
            font-weight: 400;
        }
    }   

    &__row {
        width: 100%;
        &:not(:last-child) {
            margin-bottom: .7em;
        }
    }

    &__element {
        width: 100%;
        padding: .15em 1em;
        height: 32px;
        border-radius: 3px;
        border: none;
        background: transparent;
        border: 1px solid #ececec;
        display: block;
        width: 100%;
        line-height: 35px;
        margin-top: 6px;
        color: #000;
        font-size: 13px;
        background-color: #fbfbfb;
    }
}