
    .intro-animation {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 50vh;

        &__db {
            text-align: center;
            display: inline-block;
            position: absolute;
            left: 48.5%;
            transform: translate(-50%, 0);
            z-index: 10;
            opacity: 0;
            animation-name: dbFadeIn;
            animation-delay: .8s;
            animation-duration: .5s;
            animation-direction: forwards;
            animation-fill-mode: forwards;
        }
        &__inner {
            position: relative;
            top: 3rem;
        }
        &__db-icon {
            display: block;
            z-index: 10;
        }
        &__fan-icon {
            display: block;
            position: absolute;
            top: 50px;
            left: 72%;
            transform-origin: 50% 50%;
            backface-visibility: hidden;
            &.animate {
                transition: all 250ms;
                transform: rotate(360deg);
            }
        }

        &__user {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-70%, 0);
            z-index: 10;
            animation-name: userFadeIn;
            animation-delay: 1s;
            animation-duration: 1s;
            animation-direction: forwards;
            animation-fill-mode: backwards;
            img {
                max-width: 350px;
            }
        }
    }



    .animation-map-box {
        position: relative;
        z-index: 1;
        max-width: 965px;
        margin-left: auto;
        margin-right: auto;
        height: 100vh;
        &__image {
            position: absolute;
            left: 50%;
            right: 0;
            max-width: 1050px;
            animation: rotateInMap 1.1s forwards;
            width: 100%;
            margin-top: -30px;
        }
        &__network {
            position: absolute;
            width: 100%;
            height: 100%;
            top: -150px;
        }
    }
    .network {
        position: absolute;
        left: 0;
        right: 0;
        &__icon {
            width: 100vw;
            position: relative;
            margin-left: -20vw;
        }
        &__connection {
            position: absolute;
            opacity: 1;
            transition: all .3s;
            &--1 {
                max-width: 20px;
                left: 21vw;
                top: 15em;
            }
            &--2 {
                left: 18vw;
                max-width: 15px;
                top: 140%;
            }
            &--3 {
                max-width: 12px;
                left: 19vw;
                top: 100%;
            }
        }
    }



.user-content {
    color: #141823;
    padding: 10px;
    position: absolute;
    right: 15px;
    width: 240px;
    top: 15px;
    bottom: 5px;
    &__background {
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: #f6f7f8;
        background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
        background-size: 800px 104px;
        height: 96px;
        position: relative;
    }
    &__masker {
        background: #fff;
        position: absolute;
        &.header-to,
        &.header-bottom,
        &.subheader-bottom {
            top: 0;
            left: 40px;
            right: 0;
            height: 10px;
        }
        &.header-left,
        &.subheader-left,
        &.header-right,
        &.subheader-right {
            top: 10px;
            left: 40px;
            height: 8px;
            width: 10px;
        }
        &.header-bottom {
            top: 18px;
            height: 6px;
        }
        &.subheader-left,
        &.subheader-right {
            top: 24px;
            height: 6px;
        }
        &.header-right,
        &.subheader-right {
            width: auto;
            left: 300px;
            right: 0;
        }
        &.subheader-right {
            left: 230px;
        }
        &.subheader-bottom {
            top: 30px;
            height: 10px;
        }
        &.content-top,
        &.content-second-line,
        &.content-third-line,
        &.content-second-end,
        &.content-third-end,
        &.content-first-end {
            top: 40px;
            left: 0;
            right: 0;
            height: 6px;
        }
        &.content-top {
            height: 20px;
        }
        &.content-first-end,
        &.content-second-end,
        &.content-third-end {
            width: auto;
            left: 380px;
            right: 0;
            top: 60px;
            height: 8px;
        }
        &.content-second-line {
            top: 68px;
        }
        &.content-second-end {
            left: 420px;
            top: 74px;
        }
        &.content-third-line {
            top: 82px;
        }
        &.content-third-end {
            left: 300px;
            top: 88px;
        }
    }
}