.integration-box {
    &__heading {
        font-size: 20px;
        padding: 1em 0 0em 0;
        letter-spacing: .05em;
        font-weight: 600;
    }

    &__paragraph {
        font-size: calc(#{$default-font-size - 1});
        letter-spacing: .05em;
        padding: .5em 0;
    }
}