.modal {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    z-index: $zIndex_Modal;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0);

    &__overlay {
        background-color: rgba($color-primary, .6);
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 0;
        cursor: pointer;    
    }
    
    &__box {
        background-color: $color-white;
        border-radius: 4px;
        position: absolute;
        max-width: 550px;
        padding: 4em;
        left: 50%;  
        transform: translateX(-50%);
        opacity: 0;
        box-shadow: 0 5px 50px rgba(0,0,0,0.2);
    }

    &__heading {
        font-size: 20px;
        padding-bottom: .5em;
        padding-top: .5em;
        text-align: center;
        font-weight: 600;
    }

    &__close {
        position: absolute;
        padding: 1.2em;
        color: $color-secondary;
        right: 0;
        top:0;
        z-index: 10;
        font-size: 18px;
        cursor: pointer;
    }

    &__link {
        color:#4dcfe0;
        font-weight: 700;
        text-decoration: none;
    }

    &--footer {
        .modal__box {
            padding-bottom: 6em;
        }
    }

    &__footer-element {
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: .5em 0;
        border-radius: 0 0 5px 5px;
        padding: 12px 0;
        border-top: 1px solid #D5E3F5;
        background-color: #EAF3FF;
        letter-spacing: .05em;

        a {
            color: #4dd0a6;
        }
    }
}