.pricing-box {
    font-size: $default-font-size;
    text-align: center;
    background-color: #fff;
    padding: 3rem;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,.05);

    &__type {
        text-transform: uppercase;
        font-weight: 700;
        color: #000;
        padding-bottom: .5em;
        font-size: 14px;
        text-align: left;
        // letter-spacing: .07em;
        // font-family: "Quicksand", sans-serif;
    
        //  @include textGradient(30deg, #7f64b5, #3db8db);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;
    }
    &__price {
        font-weight: 700;
        font-size: 4.3rem;
        height: 100px;
        margin-bottom: 1.5rem;
        text-align: left;

        // @include textGradient(30deg, #7f64b5, #3db8db);
        // -webkit-background-clip: text;
        // -webkit-text-fill-color: transparent;

        small {
            display: block;
            position: relative;
            font-size: 1.25rem;
            font-weight: 500;
            top:-10px;
            -webkit-text-fill-color: #3db8db;
            padding-top: .2em;
            letter-spacing: .05em;
        }
    }
    &__description {
        height: 160px;
        b {
            font-size: 15px;
            display: inline-block;
            line-height: 20px;  
            font-weight: 700;
            text-transform: uppercase;
            // font-family: "Quicksand",sans-serif;
            // border-bottom: 1px solid #3e396b;
            &.dot {
                font-size: 30px;
                position: relative;
                top:7px;
                color: #f8849a;    
            }
        }


        ul {
            list-style: none;

            li {
                font-size: 14px;
                padding: 0 0 1em 0;
                text-align: left;
            }
        }
    }
    &__button {
        font-family: "Quicksand",sans-serif;
        font-size: 14px;
        border: none;  
        background-color: $color-button-pricing;
        color: #fff;
        font-weight: 500;
        text-transform: capitalize;      
        display: block;
        letter-spacing: .05em;
        margin: .5em auto 0 auto;
        cursor: pointer;
        width: 100%;
        // background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);

        &::after {
            background-color: $color-button-pricing;
        }
    }

    &--1 {}
    &--2 {
        position: relative;
        text-align: left;
        // transform: translate(0,-20px);
        box-shadow: 0 35px 40px rgba(0,0,0,.15);
        @include clearfix;
        &::before {
            content: "Popular";
            font-size: 10px;
            letter-spacing: .05em;
            display: inline-block;
            background-image: linear-gradient(60deg, #96deda 0%, #50c9c3 100%);
            color: #fff;
            padding: .5em 1em;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: .1em;
            margin-bottom: 1.3em;                   
            float: right;
            margin-right: -40px;
            margin-top: -3px;
        }
    }
    &--3 {
        position: relative;
        text-align: left;
        // transform: translate(0,-20px);
        box-shadow: 0 35px 40px rgba(0,0,0,.15);        
        @include clearfix;
        &::before {
            content: "Best Offer";
            font-size: 10px;
            letter-spacing: .05em;
            display: inline-block;
            color: #fff;
            background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
            padding: .5em 1em;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: .1em;
            margin-bottom: 1.3em;                   
            float: right;
            margin-right: -40px;
            margin-top: -3px;      
        }     
    }
    &--4 {
        .pricing-box__price {
            font-size: 3rem;
            position: relative;
            top:.5em;    
        } 

        .pricing-box__description {
            ul {
                li {
                    display: block;
                    padding: 1em 0 1em 0;

                    &:not(:last-child) {
                        border-bottom: 1px solid #eeeeee;
                    }
                }
            }
        } 
    }
}