.signup-animation {
    text-align: center;
    &__image {
        max-width: 320px;
        display: block;
        margin: 0 auto;
    }
    &__button {
        display: block;
        margin-top: 1em;
    }
    &__text {
        display: block;
        margin-top: 1em;
        font-size:  9px;
        text-transform: uppercase;
        letter-spacing: .1em;

        b {
            font-weight: 700;
        }
    }
}