.sticky-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255,255,255,1);
    z-index: 9000;  
    
    -webkit-box-shadow: 0 2px 10px 0 rgba(62,57,107,.1);
    box-shadow: 0 2px 10px 0 rgba(62,57,107,.1);
    display: none;
    padding: .6rem 3rem;
    &__logo{
        img {
            max-width: 100px;
            padding-top: 1.3em;
        }
    }

    &__nav-account{
        position: relative;
        top:.3em;
    }
}