.testimonial-box {
    box-shadow: 0px 5px 17px 0px rgba(223, 223, 223, 0.52), 
                inset 0px 5px 0px 0px rgba(239, 130, 255, 0.004);
    padding: 3rem;            
    min-height: 320px;
    background-color: #fff;

    &__shape{
        width: 10rem;
        height: 10rem;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
      
    &__image {
        height: 100%;
        transform: translateX(-3rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__name{
        font-size: 16px;
        padding-top: 20px;
    }

    &__profession{
        color: lighten($color-black, 20%);
        font-size: 11px;
        text-indent: 10px;
        font-weight: 500;
        letter-spacing: .1em;
    }
    
    &__paragraph{
        font-size: 13px;
        padding-top: 5px;
    }

    &--1 {
        border-bottom: 5px solid #ef82ff;
    }
    
    &--2 {
        border-bottom: 5px solid #1bdadc;
    }
    &--3 {
        border-bottom: 5px solid #2cc9f6;
    }
    &--4 {
        border-bottom: 5px solid #ffaa4e;
    }
}
