
$color-1: #08abf6;
$color-2: #604def;
$color-3: #32c986;
$color-5: lighten(#08abf6, 15%);
$color-6: lighten(#604def, 15%);
$color-4: lighten(#32c986, 15%);

.usage-box {
    &__icon {
        display: inline-block;
        width: 7rem;
        height: 7rem;
        line-height: 7rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        
        &--1 {
            background-color:  $color-1;
            box-shadow: 0 2px 10px darken(rgba($color-1 ,.8), 10%);
        }
        &--2 {
            background-color:  $color-2;
            box-shadow: 0 2px 10px darken(rgba($color-2,.8), 10%);
        }
        &--3 {
            background-color:  $color-3;
            box-shadow: 0 2px 10px darken(rgba($color-3,.8), 10%);
        }
        &--4 {
            background-color: $color-4;
            box-shadow: 0 2px 10px darken(rgba($color-4,.5), 10%);
        }
        &--5 {
            background-color: $color-5;
            box-shadow: 0 2px 10px darken(rgba($color-5,.5), 10%);
        }
        &--6 {
            background-color: $color-6;
            box-shadow: 0 2px 10px darken(rgba($color-6,.5), 10%)
        }
    }

    &__heading {
        font-size: calc(#{$default-font-size + 2});
        line-height: 28px;
        font-weight: 600;
        padding-bottom: 1.5rem;
        text-transform: capitalize;
        letter-spacing: .02em;
    }

    &__paragraph {
        font-size: calc(#{$default-font-size - 1});
        letter-spacing: .05em;
        padding: .5em 0;
    }

    &__btn {
        display: inline-block;
        text-decoration: none;
        padding: .3rem 1.5rem;
        border-radius: 10rem;
        color: #333;
        margin-top: 10px;
        font-size: 10px;
        background-color: #eee;
        letter-spacing: .08em;
        word-spacing: .05em;
    }
}