@keyframes rotate {
    0% {
        transform: translate(-50%,0) rotate(0deg);
    }
    
    100% {
        transform: translate(-50%,0) rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rotateInMap {
    0% {
        transform: translate(-100px,-120px) 
                //    rotate(8deg) 
                   scale(8);
        filter: blur(50px);           
        opacity: 0;
    } 
    
    100% {
        transform: translate(-50%,-120px) 
                //    rotate(0deg) 
                   scale(1.1);
        opacity: .07;           
        filter: blur(0);
    }
}

@keyframes userFadeIn {
    0% {
        opacity: 0;
        transform: translate(-70%, 30px);
    }

    100% {
        opacity: 1;
        transform: translate(-70%, 0);
    }
}

@keyframes networkFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dbFadeIn {
    0% {
        opacity: 0;
        transform: translate(-10%, 0);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translate(-50%, -80%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

