body {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.7;
    color: $color-text;
}

.heading-primary {
    color: $color-white;
    font-family: $font-primary;
    font-size: 3rem;
    font-weight: lighter;
    line-height: 40px;
    letter-spacing: .07rem;
    max-width: 600px;
}

.heading-secondary {
    font-size: 3.6rem;
    font-weight: 300;
    padding-bottom: 2rem;

    &--white {
        color: #fff;
    }
}


.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}