.page-contact {
    padding-top: 10em;
    main {
        padding-bottom: 8em;
    }
    .contact-intro {
        text-align: center;
        h2 {
            font-size: 36px;
        }
        h4 {
            font-size: 22px;
            font-weight: 300;
            padding-bottom: 1em;
        }
        p {
            font-size: calc(#{$default-font-size} - 1px);
            max-width: 800px;
            margin: 0 auto .8em auto;
        }
        b {
            font-size: calc(#{$default-font-size} + 1px);
            padding: 0 4px 0 4px;
            i {
                font-size: 18px;
                padding-left: 5px;
                position: relative;
                top:3px;
            }
        }
        a {
            font-size: calc(#{$default-font-size} + 1px);
            color: #0066ff;
            font-weight: 700;
            text-decoration: none;
            padding-left: 3px;
        }
    }
    .contact-form {
        .row {
            .col-1-of-2 {
                width: calc((100% - 20px) / 2);
            }
            & [class*="col-"]:not(:last-child) {
                margin-right: 20px;
            }
            &.top,
            &.bottom {
                label {
                    display: block;
                }
            }
            margin-bottom: 1em;
        }
        form {
            max-width: 500px;
            margin: 2em auto 0 auto;
            border-radius: 3px;
            font-size: calc(#{$default-font-size} - 2px);
            box-shadow: 0 20px 40px rgba(0, 0, 0, .1);
            padding: 3em;
            &>div {
                margin-bottom: .5em;
            }
            label {
                display: block;
                margin-bottom: .2em;
                font-weight: 700;
                font-size:  calc(#{$default-font-size} - 3px);

                i {
                    font-size: 9px;
                    color: orange;
                    position: relative;
                    top:-4px;
                    left:1px;
                }
            }
            input:not([type="submit"]),
            select,
            textarea {
                border: none;
                border: 1px solid rgb(219, 226, 241);
                padding: .6em .5em;
                width: 100%;
                background-color: #fafafa;
                box-shadow: inset 0 -10px 10px hsla(200, 30%, 50%, .03);
                border-radius: 2px;
            }
            input[type="submit"] {
                width: 100%;
                font-family: "Quicksand";
                font-size: calc(#{$default-font-size} + 2px);
                cursor: pointer;
            }
        }
    }
    .contact-location {
        max-width: 800px;
        margin: 0 auto;
        padding-top: 6em;
        &__text {
            h3 {
                font-size: 30px;
                font-weight: 300;
                padding-bottom: .5em; 
            }
            .col-location {
                font-size: calc(#{$default-font-size} - 3px);
                padding: 2em 2em 2em 2em;
                background: rgba(0, 102, 255, .04);
                border-radius: 5px;
                transition: transform 250ms ease-in-out;
                outline-offset: -8px;
                cursor: pointer;
                &:hover,
                &.active {
                    box-shadow: 0 20px 20px rgba(0, 102, 255, .15);
                    transform: translate(0px, -3px);
                }
                h4 {
                    font-size: calc(#{$default-font-size} - 1px);
                    color: #0066ff;
                    i {
                        padding-right: .6em;
                        display: inline-block;
                        color: #0066ff;
                    }
                }
                p {
                    height: 80px;
                }
            }
            .row {
                .col-1-of-2 {
                    &:not(:last-child) {
                        margin-right: 4%;
                    }
                    width: 48%;
                }
            }
        }
        &__map {
            #map {
                height: 400px;
                width: 100%;
                margin-top: 3em;
                border-radius: 5px;
                
                // hides google logo
                a[href^="http://maps.google.com/maps"] {
                    display: none !important
                }
                a[href^="https://maps.google.com/maps"] {
                    display: none !important
                }
                .gmnoprint a,
                .gmnoprint span,
                .gm-style-cc {
                    display: none;
                }
            }
        }
    }
}