.section-about {
    padding: 12rem 0;
    position: relative;
    overflow: hidden;

    .map-bg {
        margin-top: -10em;
    }
}

.section-features {
    background-color: #f4f7fc;
    padding: 12rem 0;
}

.section-usage {
    padding: 12rem 0;
}

.section-integration {
    padding: 12rem 0;
    background-color: $color-primary;

    .integration-bottom-text {
        font-size: 14px;
        padding-left: 10px;
        letter-spacing: .1em;
        font-style: italic;
        padding-top:.5em;
    }

    .integration-bottom-image { 
        position: relative;
        top:-3px;
    }
}

.section-dashboard {
    padding: 12rem 0 0 0;
    background-image: url(../img/dashboard_bg.jpg);
    background-repeat: no-repeat;
    background-position: center  91%;
}

.section-testimonials {
    padding: 12rem 0;
    background-color: #fff;
    position: relative;
    z-index: 10;
    margin-top: -80px;
    
    background-image: -moz-linear-gradient( 20deg, rgb(247,247,247) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 20deg, rgb(247,247,247) 0%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 20deg, rgb(247,247,247) 0%, rgb(255,255,255) 100%);  
    background: #f4f7fc;   
}

.section-signup {
    padding: 12rem 0;
}