.section-pricing-plans {
    padding: 12em 0 4em 0; // background-color: #efefef;
    // background-color: #97cbd6;
    // background-color: #DCD9D4; 
    // background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%); 
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-blend-mode: soft-light,screen;

    .row {
        margin: 0 auto 30px auto;
    }

    .switch-widget {
        text-align: center;
        font-size: 18px;

        &__wrapper {
            // border: 1px solid #3db8db;
            display: inline-flex;
            margin-right: 10px;
            // border-radius: 4px;
            transition: all .3s;

        }
        &__button {
            background:none;
            border: none;
            font-size: 14px;
            font-family: "Quicksand", sans-serif;
            padding: .4em .8em;
            margin-bottom: .5em;
            font-weight: 400;
            cursor: pointer;
            color: #3db8db;
            // background-color: #fff;
            letter-spacing: .05em;

            i.fas {
                font-size: 12px;
            }

            &:active,
            &:focus {
                outline: none;                
            }

            &.active {
                background-color: #3db8db;
                border-right: 1px solid #3db8db;
                color: #fff;
                box-shadow: 0 2px 4px rgba(0,0,0,.1);
                border-radius: 3px;
            }
        }

        &__text {
            b {
                font-weight: 900;
                font-size: 12px;
            }
            font-size: 11px;
            color: #565656;
            font-weight: 400;
            
            font-family: "Quicksand", sans-serif;   
            font-family: "Raleway", sans-serif;
            display: block;
            transition: all .3s ease-in-out;
            letter-spacing: .05em;
            height: 20px;
        }

    }
}

.section-pricing-main {
    padding: 6em 0;

    .subscription-features {
        background-color: #fbfbfb;  
        padding: 2em 0;
        border-radius: 5px;
        border: 1px solid #f7f7f7;
        @include clearfix;
        &>* {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        &__heading {
            font-size: 2.8em;
            text-align: center;
            padding-bottom: .4em;
            font-weight: 300;
            @include textGradient(30deg, #7f64b5, #3db8db);
        }
        &__list {
            list-style: none;
        }
        &__element {
            width: 16.66666666666667%;
            float: left;
            padding: 1em 1.2em;
            text-align: center;
            p {
                font-size: 1.5em;
                @include textGradient(30deg, #7f64b5, #3db8db);
            }
        }

        &__icon {
            border-radius: 50%;
                width: 80px;
                height: 80px;
                box-shadow: 0px 3px 5px rgba(0, 0, 0, .05);
                margin: 0 auto .8em auto;
                background-color: #fff;
            i {
                font-size: 2.5em;
                display: block; // border: 1px solid #eee;
                line-height: 80px;
                @include textGradient(30deg, #7f64b5, #3db8db); // background-color: #fafafa;
                
            }
        }
    }
    .subscription-description {
        h4 {
            font-size: 1.6em;
            padding-bottom: .5em;
            font-weight: 600;
            text-decoration: underline;
        }
        p {
            padding-bottom: 1em;
            font-size: 1.4em;
        }
    }
    .pricing-col {
        &>* {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        margin: 0 auto;
        @include clearfix;
        
        &__element {
            width: 30.66666666666667%;
            float: left;
            padding: 1.5em 2em;
            text-align: center;
            border-radius: 3px;
            background-color: #eee;
            margin-top: 2em;
            color: #fff;
            position: relative;

            &:not(:last-child) {
                margin-right: 4%;
            }
            @include clearfix;            
            &-heading {
                text-decoration: none !important;
                text-transform: uppercase;
                font-weight: 300 !important;
                padding-bottom: 0 !important;
                float: left;
                font-size: 1.5em !important;
                line-height: 35px !important;
            }
            &-pricе {
                font-size: 3.2em;
                font-weight: 700;
                position: absolute;
                right: .7em;
                top:5px;
            }
            &--1 {
                background-color: #c1dfc4;
            }
            &--2 {
                background-color: #f78ca0 ;
            }
            &--3 {
                background-color: #4481eb;
            }
        }
    }

    .subscription-faq {
        padding-top: 2em;  
        h3 {
            font-size: 3em;
        }
    }
}